<footer class="bg-gray-200 text-center lg:text-lef px-2 sm:px-4 py-2 rounded dark:bg-gray-800">
  <div class="text-gray-700 text-center p-2 bg-gray-800">
    <div class="py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
      © 2021 Copyright: Record App
    </div>
  </div>
</footer>
